.card {
    background: none;
    border-radius: 8px;
    overflow: hidden;
    height: 445px;
    width: 413px;
    border: none;
  }
  
  .card__image {
    width: 100%;
    height: 413px;
    width: 413px;
    object-fit: cover;
  }
  
  .card__title {
    margin: 0;
    height: 24px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }