.header {
  text-align: center;
  padding: 1rem 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.header__image {
  padding-right: 2px;
  line-height: 29.66px;
  letter-spacing: 0.2em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media (max-width: 320px) {
  .header {
    width: 288px;
  }
}