.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  border-radius: 8px;
}

.modal__form {
  width: 630;
  height: 272;
  gap: 32px;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background: #fff;
  max-width: 730px;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  gap: 32px;
  padding-top: 32px;
  padding-right: 50px;
  padding-bottom: 32px;
  padding-left: 50px;
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  background: transparent url("../images/close-btn.svg") center no-repeat;
}

.modal__close-btn:hover {
  opacity: 1;
  background: transparent url("../images/close-btn-hover.svg") center no-repeat;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  margin-bottom: 32px;
  width: 630;
  height: 78;
}

.modal__input {
  padding: 16px 12px;
  height: 42px;
  gap: 10px;
  font-size: 20px;
  border-radius: 8px;
  opacity: 0.4;
  cursor: pointer;
  border: 1px solid #21212166;
}

.modal__input:hover {
  opacity: 1;
}

.modal__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-bottom: 24px;
  width: 630;
  height: 40;
  gap: 421px;
}

.modal__title {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  color: #212121;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 364px;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 32px 18px 32px;
  height: 52px;
  gap: 8px;
  background: #212121;
  border-radius: 8px;
  color: #fcf5e5;
  cursor: pointer;
  align-items: center;
  font-size: 16px;
}

@media (max-width: 320px) {
  .modal__title {
    font-size: 20px;
    margin: 0;
  }

  .modal__head {
    width: 276px;
    height: 40px;
    justify-content: space-between;
  }

  .modal__input {
    height: 48px;
    gap: 8px;
    border: 1px;
    gap: 10px;
  }

  .modal__submit-btn {
    width: 276px;
    height: 48px;
    gap: 8px;
    border-radius: 8px;
    padding-top: 18px;
    padding-right: 32px;
    padding-bottom: 18px;
    padding-left: 32px;
    align-items: center;
  }

  .modal {
    border-radius: 10px;
  }

  .modal_opened {
    padding: 0 5px 0 5px;
  }

  .modal__container {
    width: 300px;
    height: 336;
    border-radius: 8px;
    padding: 12px;
    gap: 24px;
  }
  .modal__close-btn {
    opacity: 0.4;
    height: 40px;
    width: 40px;
  }
}
