.posts {
  width: 280px;
  height: 970px;
  top: 310px;
  left: 80px;
  padding: 0 0 40px 0;
  gap: 20px;
  border: 0 0 1px 0;
  opacity: 0;
  border-bottom: 1px solid #21212166;
}

.posts__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1320px) {
  .posts__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 880px) {
  .posts__grid {
    grid-template-columns: 1fr;
  }
}
