.profile {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 34px 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.profile__info {
  display: flex;
  justify-content: left;
}

.profile__info-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 20px;
  max-width: 420px;
}
.profile__container-text {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: left; 
}

.profile__new-post {
  width: 157px;
  height: 52px;
  padding: 18px 22px 18px 22px;
  gap: 8px;
  background-color: #212121;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: auto;
  align-items: center;
  color: #fcf5e5;
  display: flex;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.profile__new-post:hover {
  opacity: 0.8;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__name {
  font-weight: 500;
  font-family: Poppins, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #212121;
  line-height: 1;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow:hidden;
  max-width: 420px;
  white-space: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  color: #212121b2;
  justify-content: left;
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  align-items: center;
  max-width: 420px;
  margin-top: 12px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  background: none;
  display: flex;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 107.34px;
  gap: 8px;
  opacity: 0.7;
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  margin-top: auto;
  margin-bottom: 0;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.profile__edit-btn:hover {
  opacity: 1;
}

@media (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-width: 288px;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
  }
  
  .profile__name {
    font-size: 20px;
    text-align: center;
    padding-bottom: 6px;
  }
  
  .profile__info {
    flex-direction: column;
    justify-content: center;    
    align-items: center;
  }

  .profile__container-text {
    align-items: center;
  }

  .profile__edit-btn {
    font-size: 16px;
    line-height: 16px;
    align-items: end;
    margin: 0;
    padding-top: 20px;
  }

  .profile__info-content {
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .profile__description {
    margin-top: 6px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    border:none;
  }

  .profile__new-post {
    margin-top: 20px;
    width: 288px;
    justify-content: center;
    align-self: center;
  }
}

@media (max-width: 480px) {
  .profile__name {
    font-size: 1rem;
  }

  .profile__description {
    font-size: 0.875rem;
  }

  .profile__edit-btn {
    font-size: 0.875rem;
  }
} 